@page
@{
    var lessonNumber = Request.Query["lessonNumber"];

    ViewData["Title"] = $"Lesson {lessonNumber}";

    var lessonlink = "";

    switch (lessonNumber.FirstOrDefault()) {
        case "1":
            lessonlink = "//www.youtube.com/embed/w4wP3iXhP4w?rel=0";
            break;
        case "3":
            lessonlink = "//www.youtube.com/embed/MrqBQSglo9M?rel=0";
            break;
        case "4":
            lessonlink = "//www.youtube.com/embed/bxAYKJEj6O4?rel=0";
            break;
        case "5":
            lessonlink = "//docs.google.com/presentation/d/e/2PACX-1vSupOMDolYworSiz0AC52dkNtPKM3090x__VZxPP3jCMRdPB0vOTxgsg94EtBRr3WU_ZHv0zLCBLeJr/embed?start=false&loop=false&delayms=3000";
            break;
        case "7":
            lessonlink = "//docs.google.com/presentation/d/e/2PACX-1vQ2lhOJijoe1PcjfmUOYh9J_fDDTXTNRSHMZEO3TMe_F1tF7-ZkR5DHS_taJnNzDwMz9SIdwSehLmCv/embed?start=false&loop=false&delayms=3000";
            break;
        case "8":
            lessonlink = "//www.youtube.com/embed/bxAYKJEj6O4?rel=0";
            break;
        default:
            lessonlink = "//www.youtube.com/embed/";
            break;
    }
}

<div>
    <div class="itemsss">
        <div>
            <iframe src="@lessonlink" title="Lesson @lessonNumber" frameborder="0"></iframe>
        </div>

        <br />

        @{
            if (lessonNumber.FirstOrDefault() == "1")
            {
                <div>
                    <iframe src="//docs.google.com/presentation/d/e/2PACX-1vTsmI5SpN6ZWLyqS15poiQ96aRzXFsBPLyr7AT3j6wixuq6vPleF6GTSiko2mZgmHtwCCjcGl0Fsxqi/embed?start=false&loop=false&delayms=3000" title="Lesson @lessonNumber" frameborder="0"></iframe>
                </div>


                <div>
                    <h3>Термины</h3>

                    <ol>
                        <li>Архив - учреждение или структурное подразделение организации, осуществляющие хранение, комплектование, учет и использование архивных документов.</li>
                        <li>Архивное дело в Российской Федерации — деятельность государственных органов, органов местного самоуправления, организаций и граждан в сфере организации хранения, комплектования, учета и использования документов Архивного фонда РФ и других архивных документов</li>
                        <li>
                            Архивное дело в судах судебной системы Российской Федерации — судебная деятельность обеспечительного характера, осуществляемая работниками аппаратов судов под руководством судей, которая направлена на комплектование, хранение, учёт и использование документов, образующихся.
                        </li>
                        <li>Обеспечение сохранности архивных документов — совокупность действий, направленных на предотвращение утраты архивных документов, и на максимально возможное сохранение их в первоначальном виде и первоначальной форме</li>
                        <li>
                            Учет архивных документов — определение количества и состава архивных документов в единицах учета и отражение этого количества и состава в учетных документах для контроля их наличия и состояния.
                        </li>
                        <li>Использование архивных документов — применение информации архивных документов в культурных, научных, политических, экономических целях и для обеспечения законных прав и интересов граждан.</li>
                        <li>Единица архивного хранения — совокупность документов или отдельный физически обособленный документ, принятый на учётное архивное хранение в судах судебной системы Российской Федерации</li>
                        <li>Номенклатура дел суда — систематизированный перечень наименований дел, заводимых в структурных подразделениях судов судебной системы Российской Федерации, с указанием сроков их хранения, по установленной форме</li>
                    </ol>
                </div>
            }
            if (lessonNumber.FirstOrDefault() == "2")
            {
    <div>
        <h3>Термины</h3>

        <ol>
            <li>Архивное дело — деятельность по организации хранения, учета и использования архивных документов</li>
            <li>
                Муниципальный правовой акт – это решение, принятое непосредственно населением внутригородского муниципального образования (далее – муниципальное образование), органом местного самоуправления и (или) должностным лицом местного самоуправления по вопросам местного значения или по вопросам осуществления государственных полномочий, переданных органам местного самоуправления федеральными законами и иными нормативно-правовыми актами.
            </li>
            <li>Муниципальный архив - структурное подразделение органа местного самоуправления или муниципальное учреждение, создаваемое муниципальным образованием, которые осуществляют хранение, комплектование, учет и использование документов Архивного фонда Российской Федерации, а также других архивных документов</li>
            <li>Локальный акт – это один из вариантов подзаконного правового акта, который принимают внутри организации для регулирования какой-либо стороны ее деятельности</li>
            <li>Ведомственный нормативный правовой акт  - в РФ традиционное понятие теории права, означающее нормативный правовой акт федерального органа исполнительной власти, изданный на основе и во исполнение федеральных законов, указов и распоряжений Президента РФ, постановлений и распоряжений Правительства РФ, а также по инициативе федерального органа исполнительной власти в пределах его компетенции</li>
            <li>Государственный архив - федеральное государственное учреждение, создаваемое Российской Федерацией (далее - федеральный государственный архив), или государственное учреждение субъекта Российской Федерации, создаваемое субъектом Российской Федерации (далее - государственный архив субъекта Российской Федерации), которые осуществляют комплектование, учет, хранение и использование документов Архивного фонда Российской Федерации, а также других архивных документов</li>
            <li>Ведомственный архив — государственное архивное учреждение или структурное подразделение, хранящее документы на протяжении определенного срока на своем предприятии, в учреждении и организации.</li>
            <li>Национальный стандарт Российской Федерации – документ по стандартизации, который разработан техническим комитетом по стандартизации или проектным техническим комитетом по стандартизации, утвержден Росстандартом и в котором для всеобщего применения устанавливаются общие характеристики объекта стандартизации, а также правила и общие принципы в отношении объекта стандартизации</li>
        </ol>
    </div>


    <div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdXya2Te2XgKQ51hyYz8KwUm-6XY7XFWCyFb3G5KiaIslJTiQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
    </div>
            }
            if (lessonNumber.FirstOrDefault() == "3")
            {
                <iframe class="uk-align-left uk-margin-remove-adjacent" src="//docs.google.com/presentation/d/e/2PACX-1vRU-Xp_AbcKBG2S395RhxWaCexmaq0nIFt6neeQrk6j8ykWwrH24y7PXGNfFMLp6XepbPtrllAjthw-/embed?start=false&loop=false&delayms=3000" title="Lesson @lessonNumber" frameborder="0" allowfullscreen></iframe>

                <h3>Термины</h3>

                <ol>
                    <li>Единица учета архивных документов — это единица измерения количества документов в архиве суда для отражения этого количества в учетных документах и архивных справочниках</li>
                    <li>Архивный шифр — обозначение, наносимое в левом нижнем углу на каждую единицу хранения в целях обеспечения учета и идентификации</li>
                    <li>Учетные документы архива — это комплекс документов установленной формы, фиксирующих поступление, выбытие, количество, состав и состояние архивных документов в единицах учета</li>
                    <li>Дело фонда — наиболее важный и целостный источник информации об архиве суда, который содержит информацию о приёме-передаче дел на хранение, об уничтожении дел, сведения о составе и объёме дел и документов, акты проверки наличия и состояния дел фонда, исторические справки к фонду, схема систематизации фонда и т.д</li>
                    <li>Список фондов — учетный документ, который содержит перечень официальных наименований хранящихся в архиве, а также выбывших архивных фондов в порядке возрастания присвоенных им номеров</li>
                    <li>Лист фонда — учетный документ, который содержит в рамках архивного фонда сведения о количестве и составе описей дел, документов и их нумерации, количестве и составе архивных документов, состоянии их описания, динамике изменений по каждой описи дел, документов и архивному фонду в целом, фиксирующий изменения в названии архивного фонда</li>
                    <li>Историческая справка фонда — документ, содержащий сведения по истории суда как фондообразователя и его архивного фонда, краткую характеристику состава и содержания его документов и системы научно-справочного аппарата архива</li>
                    <li>Паспорт архива суда — учётный документ периодической отчётности, который содержит сведения об объёме хранящихся документов, составе поисково-справочного аппарата и условиях хранения документов</li>
                </ol>
            }
            if (lessonNumber.FirstOrDefault() == "4")
            {
                <h3>Термины</h3>

                <ol>
                    <li>Организация архивного делопроизводства в суде — комплекс мероприятий правового, кадрового, ресурсного и иного характера, осуществляемых уполномоченными субъектами, направленных на создание надлежащих условий для хранения, комплектования, учета и использование архивных документов в суде</li>
                    <li>Наряд — сброшюрованное дело документов одной категории, сформированное в алфавитном порядке, в хронологической последовательности или в хронологическо-тематической последовательности</li>
                    <li>Квалификационные требования — требования, предъявляемые к лицу, замещающему или претендующему на замещение должности гражданской службы в аппаратах судов, Судебного департамента при Верховном Суде РФ и его органах в субъектах РФ</li>
                    <li>Должностной регламент — основной организационно-нормативный документ, регламентирующий содержание и результаты профессиональной деятельности гражданского служащего при осуществлении им профессиональной служебной деятельности согласно занимаемой должности</li>
                    <li>ГАС «Правосудие» – территориально распределенная автоматизированная информационная система, обеспечивающая информационную и технологическую поддержку судопроизводства на принципах поддержания требуемого баланса между потребностью граждан, общества и государства в свободном обмене информацией и необходимыми ограничениями на распространение информации</li>
                    <li>Планирование работы архива суда — процесс, позволяющий оптимально распределить кадровые и материальные ресурсы суда в целях обеспечения комплектования и сохранности документов в архивах судов в соответствии с действующим нормативным правовым регулированием и комплексом документов информационно-методического обеспечения</li>
                    <li>Контроль соблюдения законодательства в архивном деле — деятельность уполномоченных органов, в пределах своей компетенции, по осуществлению проверки за правильным применением правил организации хранения, комплектования, учета и использования документов Архивного фонда Российской Федерации и других архивных документов в государственных органах, органах местного самоуправления и организациях</li>
                    <li>Проверка ведения архивного дела — проведение совокупности мероприятий, направленных на удостоверение степени соответствия исследуемых объектов контроля в сфере архивного дела действующим нормативным требованиям и рекомендациям, а также выработке рекомендаций и оказания практической помощи ответственным должностным лицам аппаратов судов</li>
                </ol>

                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScU3S2Pp4oKZW2K55EjEM2I_zsx6dPCui-afVN4PHzv7RH9dQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
            }
            if (lessonNumber.FirstOrDefault() == "5")
            {
                <h3>Термины</h3>

                <ol>
                    <li>Классификация и систематизация документов, образующихся в деятельности судов - это процесс разделения документов на группы (подгруппы), каждая из которых имеет свои, обязательные, присущие только ей элементы, которые характеризуют судопроизводство и судебное делопроизводство</li>
                    <li>
                        Признаки и основания классификации документов в судах. Систематизация архивных документов. 
                        Важнейшим признаком для классификации документов является его содержание. Служебные документы могут подразделяться: по административным вопросам; материально-техническому снабжению; планированию; оперативной деятельности; бухгалтерскому учету; подготовке и расстановке кадров; финансово-кредитным и внешнеторговым вопросам и т.д.
                        По наименованию существует множество разновидностей документов. Приведем лишь некоторые: приказы, распоряжения, планы и отчеты, акты, протоколы, договоры, уставы, инструкции, справки, докладные, объяснительные записки, служебные письма, телеграммы, стандарты, технические условия, платежные требования и поручения, доверенности и т.д.
                        По способу фиксации информации документы бывают письменные (рукописные, машинописные, типографские, подготовленные на множительных аппаратах, напечатанные на персональных компьютерах), графические и фотофоно-кинодокументы. По степени сложности документы классифицируют на простые и сложные. Простые - это документы, в которых рассматривается один вопрос, в сложных освещается несколько вопросов.
                        По степени гласности различают документы открытые (несекретные) и документы с ограниченным доступом. Документы с ограниченным доступом бывают разной степени секретности: совершенно секретные, секретные, документы для служебного пользования (ДСП), с грифом “конфиденциально”.
                        По юридической силе документы подразделяют на подлинные и подложные. Подлинные документы бывают действительные и недействительные.
                    </li>
                    <li>Недействительный документ - документ, у которого истек срок действия или же он был отменен другим документом</li>
                    <li>Систематизация документов в архиве организации - группировка дел по признакам их содержания или формата и носителя</li>
                    <li>Лист-заверитель дела – документ, содержащий информацию об особенностях содержания и формирования определенного дела в архиве организации, включая количество пронумерованных страниц каждого дела</li>
                    <li>Подготовка описи дел — создание архивного справочника, представляющего перечень заголовков дел, который предназначен для идентификации дел — раскрытия их состава и содержания с целью систематизации внутри фонда и обеспечения учёта документов</li>
                    <li>Опись дел – это архивный справочник, представляющий собой систематизированный перечень заголовков дел и предназначенный для раскрытия состава, содержания, а также учета дел</li>
                    <li>Срок хранения документов — период времени, в течение которого должно обеспечиваться хранение документа в составе архивного фонда суда, Архивного фонда Российской Федерации</li>
                </ol>
            }
            if (lessonNumber.FirstOrDefault() == "6")
            {
                <h3>Термины</h3>

                <ol>
                    <li>Экспертная комиссия - группа лиц, осуществляющих организацию и проведение работы по экспертизе ценности документов, отбору и подготовке к передаче на постоянное хранение документов Архивного фонда Российской.</li>
                    <li>Экспертиза ценности документов суда - составление номенклатуры дел суда и подготовка к их передаче в архив, а впоследствии - на постоянное хранение</li>
                    <li>Владелец архивных документов - государственный орган, орган местного самоуправления либо юридическое или физическое лицо, осуществляющие владение и пользование архивными документами и реализующие полномочия по распоряжению ими в пределах, установленных законом или договором</li>
                    <li>Пользователь архивными документами - государственный орган, орган местного самоуправления либо юридическое или физическое лицо, обращающиеся на законных основаниях к архивным документам для получения и использования необходимой информации</li>
                    <li>секретарь - работник суда, ответственный за работу архива, работники отдела делопроизводства (общего отдела), судебных коллегий, судебных составов и других структурных подразделений суда</li>
                    <li>Секретарь ЭК - лицо, ответственное за ведение делопроизводства экспертной комиссии суда, хранение и использование ее документов</li>
                    <li>Выделение документов к уничтожению — выявление в процессе экспертизы научной и практической ценности документов с истекшими сроками хранения и отбор их для уничтожения</li>
                </ol>

                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeYub7_yziuB1GFfdk3YpukQu63u-6n8VOY-hiyH4GQe_blOQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
            }
            if (lessonNumber.FirstOrDefault() == "7")
            {
                <h3>Термины</h3>

                <ol>
                    <li>Сохранность документов в архиве суда - организация обеспечения комплекса мероприятий по созданию нормативных условий, соблюдения режимов, надлежащего хранения документов, исключающая хищение и утрату, а также обеспечение нормального физического состояния</li>
                    <li>Обеспечение сохранности архивных документов – комплекс мероприятий по созданию нормативных условий, соблюдению нормативных режимов и надлежащей организации хранения архивных документов, исключающих их хищение и утрату и обеспечивающих поддержание их в нормальном физическом состоянии</li>
                    <li>Оборудованное помещение (архив) - специальное место для обеспечения сохранности дел (нарядов) и других документов, а также создания необходимых условий для работы архива суда</li>
                    <li>Защита документов от действия света - обеспечение противодействие свету посредством хранения документов в коробках, папках и переплетах, в шкафах или на стеллажах закрытого типа</li>
                    <li>Температурно-влажностный режим - установленный законом контроль внешнего воздействия путем регулярного измерения температуры и относительной влажности комнатного и наружного воздуха в одно и то же время: в кондиционируемых помещениях — не реже 1 раза в неделю; в архивохранилищах, не оснащенных системой кондиционирования воздуха, — 2 раза в неделю; при нарушениях режима — 1 раз в сутки</li>
                    <li>Организация хранения документов - система мероприятий, включающая рациональное размещение документов, контроль за их движением и физическим состоянием, копирование документов с целью создания страхового фонда и фонда пользования, восстановление (реставрация) первоначальных или близких к первоначальным свойствам и внешних признаков документов, подвергшихся повреждению или разрушению</li>
                    <li>
                        Постоянное хранение документов Архивного фонда Российской Федерации - хранение документов Архивного фонда Российской Федерации без определения срока (бессрочное)
                        Для обеспечения сохранности документов в архиве должны осуществляться: комплекс мер по организации хранения, предусматривающий создание материально-технической базы хранения документов (здание и помещения хранилищ, средства хранения документов, средства охраны и безопасности хранения, средства климатического контроля, средства копирования и восстановления поврежденных документов и т.п.); комплекс мер по созданию и соблюдению нормативных условий хранения документов (температурно-влажностный, световой, санитарно-гигиенический, охранный режимы хранения)
                    </li>
                    <li>Система мер по организации хранения - обеспечение сохранности документов и контроля их физического состояния при поступлении документов в архив, при их хранении и передаче документов на постоянное хранение</li>
                </ol>
            }
            if (lessonNumber.FirstOrDefault() == "8")
            {
                <h3>Термины</h3>

                <ol>
                    <li>Президиум арбитражного суда - коллегиальный орган в составе суда</li>
                    <li>Документы временных сроков - Это приказы по основной деятельности, уставы, положения и другие учредительные документы</li>
                    <li>Акт приёма-передачи дел - документ, который оформляется при передаче дел (нарядов) и дел общего делопроизводства в государственный архив, составляется в двух экземплярах</li>
                    <li>Дисциплинарный проступок — неисполнение или ненадлежащее исполнение гражданским служащим по его вине возложенных на него служебных обязанностей</li>
                    <li>Архивный документ ― это объект права, а именно объект права собственности</li>
                    <li>Особо ценный документ - документ Архивного фонда Российской Федерации, который имеет непреходящую культурно-историческую и научную ценность, особую важность для общества и государства и в отношении которого установлен особый режим учета, хранения и использования</li>
                    <li>Служебная дисциплина - соблюдение сотрудником архива суда, дисциплинарным уставом госархива Российской Федерации</li>
                    <li> соответствии со статьей 188 УК РФ, контрабанда – это незаконное перемещение в крупном размере через таможенную границу РФ товаров или иных предметов, совершенное помимо или с сокрытием от таможенного контроля, либо с обманным использованием документов или средств таможенной идентификации, либо сопряженное с недекларированием или недостоверным декларированием</li>
                </ol>

                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfsIVyhdlwJlV1AbrNeF36zjLoAITRi0xa5sVM5_vJQraJIHg/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
            }
        }
    </div>
</div>