@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="MainPageAL">
    <div class="MainPageItemText1">
        <div class="uk-accordion-content">
            <p>
                Рады приветствовать вас! Данный образовательный портал содержит профильную юридическую информацию по направлению "Архивное дело в суде" для студентов юридических ссузов. Здесь вы можете ознакомиться с 8 темами в разных цифровых форматах: текстовые документы, видеоуроки, презентации, а проверить знания можно с помощью тестовых заданий.
            </p>
        </div>

        <div class="uk-panel">
            <p>Данный материал разрабатывали для вас студенты СКФ ФГБОУВО "РГУП" факультета непрерывного образования 2 курса 202 группы.</p>
        </div>

        <br />

        <div>
            <div class="row row-cols-1 row-cols-md-6 g-6">
                <div class="col">
                    <a href="" target="_blank">
                        <img src="~/img/eva.jpeg" width="150px" height="150px" style="border-radius:1000px;">
                    </a>
                    <p class="TextUnderCol">Сокольникова Ева</p>
                </div>

                <div class="col">
                    <a href="" target="_blank">
                        <img src="~/img/liza.jpeg" width="150px" height="150px" style="border-radius:1000px;">
                        </a>
                        <p class="TextUnderCol">Гребнева Елизавета</p>
                </div>

                <div class="col">
                    <a href="" target="_blank">
                        <img src="~/img/mihail.jpeg" width="150px" height="150px" style="border-radius:1000px;">
                        </a>
                    <p class="TextUnderCol">Варосян Михаил</p>
                </div>

                <div class="col">
                    <a href="" target="_blank">
                        <img src="~/img/sergay.jpeg" width="150px" height="150px" style="border-radius:1000px;">
                        </a>
                        <p class="TextUnderCol">Соколов Сергей</p>
                </div>

                <div class="col">
                    <a href="" target="_blank">
                        <img src="~/img/zlata.jpeg" width="150px" height="150px" style="border-radius:1000px;">
                        </a>
                    <p class="TextUnderCol">Великоцкая Злата</p>
                </div>

                <div class="col">
                    <a href="" target="_blank">
                        <!-- bug from target="_blank -->
                        <img src="~/img/vlada.jpeg" width="150px" height="150px" style="border-radius:1000px;">
                    </a>
                    <p class="TextUnderCol">Белевская Влада</p>
                </div>

                <div class="col">
                    <a href="https://vk.com/ushwbfk" target="_blank">
                        <img src="~/img/telm.jpeg" width="150px" height="150px" style="border-radius:1000px;">
                        </a>
                    <p class="TextUnderCol">Пашаева Тельмина</p>
                </div>

            </div>
        </div>
    </div>
</div>



