@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="MainPageAL">
    <div class="MainPageItemText1">
        <div class="uk-accordion-content">
            <p>
                Рады приветствовать вас! Данный образовательный портал содержит профильную юридическую информацию по направлению "Архивное дело в суде" для студентов юридических ссузов. Здесь вы можете ознакомиться с 8 темами в разных цифровых форматах: текстовые документы, видеоуроки, презентации, а проверить знания можно с помощью тестовых заданий.
            </p>
        </div>

        @*put photos here*@

        <div class="uk-panel">
            <p>Данный материал разрабатывали для вас студенты СКФ ФГБОУВО "РГУП" факультета непрерывного образования 2 курса 202 группы.</p>
        </div>
    </div>
</div>



