<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- links -->
    <partial name="Schemas/_Links" />
</head>
<body>

    <!-- header -->
    <partial name="Schemas/_Header" />


    <!-- container for pages -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- footer -->
    <partial name="Schemas/_Footer" />


    <!-- scripts -->
    <partial name="Schemas/_Scripts" />

    @RenderSection("Scripts", required: false)
</body>
</html>

<noscript><title>
<style>
    <layer > <object > <noscript >
